body {
    margin: 0px;
    width: 100%;
}
html {
    min-width: 456px;
}
.mainbox {
    width: 100%;
    background:linear-gradient(to top,rgb(56, 56, 233),skyblue)
}
.flex-1 {
    display: flex;
    width: auto;
    height: 350px;
    padding: 50px;
    padding-bottom: 0px;
}
.flex-1-1 {
    width: 50%;
    padding: 10px;
    color: white;
}
.phone {
    width: 50%;
    padding: 20px;
    position:relative;
}
.phone img{
    width: 250px;
    height: 80%;
    position: absolute;
    left:50%;
    right: 50%;
    bottom: 0px;
}
.middle-1 {
    text-align: center;
    padding:50px;
    background-color: rgb(243, 243, 243, 1);
}
.button {
    padding: 15px;
    font-size: 15px;
    border-radius: 8px;
    border-width: 2px;
    border-color: black;
    cursor: pointer;
}
.button:active {
    cursor: grabbing;
}
.button-1 {
    background: linear-gradient(45deg,yellow,lightgreen);
}
.button-1:hover {
    background: linear-gradient(45deg,lightgreen,yellow);
}
.button-2 {
    background-color: bisque;
    transition: background-color 1s;
}
.button-2:hover {
    background-color: coral;
}
.main-footer {
    text-align: center;
    color: snow;
}
.flex-2 {
    display: flex;
    padding-bottom: 50px;
    margin-right: 10%;
    margin-left: 10%;
}
.iconbox {
    text-align: center;
    font-size: 50px;
    width: 25%;
    padding: 0px;
    color:coral;
}
.iconbox i {
    width: 90px;
    height: 65px;
    background-color: aliceblue;
    border-radius: 100px;
    padding-top: 20px;
}
.iconbox h3 {
    font-size: 20px;
}
.iconbox p {
    font-size: 15px;
}
.footer-head {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}
.flex-3 {
    display: flex;
    width: auto;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 80px;
}
.flex3-text {
    width: 50%;
    height: 400px;
    padding: 10px;
    background-size: cover;
    color: snow;
    box-sizing: border-box;
}
.ftext-1 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/img/portfolio-1.jpg');
}
.ftext-2 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/img/portfolio-2.jpg');
}
.ftext-3 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/img/portfolio-3.jpg');
}
.ftext-4 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/img/portfolio-4.jpg');
}
.flex-4 {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.lasticon {
    font-size: 40px;
    margin: 15px;
    cursor: pointer;
    box-sizing: border-box;
}
.final {
    text-align: center;
    background-color: rgb(255, 235, 204, 0.4);
}
@media screen and (max-width:600px) {
    .flex-1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 600px;
    }
    .flex-1-1 {
        width: 100%;
        text-align: center;
    }
    .phone {
        width: 100%;
        height: 60%;
    }
    .phone img {
        width: 356px;
        height: 356px;
        bottom: 0px;
        box-sizing: border-box;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .flex-2 {
        flex-wrap: wrap;
    }
    .iconbox {
        width: 50%;
    }
}